body {
background: black;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: darkgrey;
text-align: center;
}
.assign img{
display: flex;
padding: 8px;
margin: 10px;
background: blue;
}
.assign img {
width: 300px;
padding: 10px;
}
